{% extends '::plantilla.html.twig' %}
{% if form is defined %}
    {% form_theme form "::bootstrap_3_layout.html.twig" %}
{% endif %}
{% block extra_head %}
{% endblock %}
{% block enlace_atajo %}
    <li><a href="{{ path('inicial_lista_usuario') }}">Consultar Usuarios</a></li>
{% endblock %}
{% block content %}
    <div class="row text-center">
        <h2 class="clase">{{ accion }}</h2>
        {% if form is defined %}
            <div class="col-sm-12 text-left">
                {{ form(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}